/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Helpers utils */
.float-right { float: right }
.relative { position: relative }

body {
  font-family: 'Roboto', sans-serif !important;
	background: url('/assets/OFC16_Cafe_018_1600.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p {
  margin-bottom: 20px;
}

.App-header {
  background-color: #3bc84c;
  height: 117px;
  padding: 20px;
  color: white;
  box-shadow: 2px -1px 6px 0px #000;
}

.App-header img {
  margin: 1px 0 0 20px;
}

.page-container {
  padding: 56px 50px;
}

.page-container h2 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-welcome {
  background-color: rgba(59, 200, 76, 0.9);
  width: 720px;
  margin: 5% auto 0;
  color: #fff;
  font-size: 1.2rem;
}

.page-thank-you {
  background-color: rgba(255, 255, 255, 0.9);
  width: 555px;
  margin: 5% auto 0
}
.page-thank-you h2 {
  color: #3bc84c;
}

.page-form {
  display: table;
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  margin: 5% auto 0;
  max-width: 1000px;
}

.btn {
  padding: 10px 50px;
  background-color: #fff;
  border-radius: 5px;
  color: #3bc84c;
  font-weight: bold;
  text-decoration: none;
  box-shadow: -1px 1px 8px 0px #666;
	cursor: pointer;
	border: none;
}

.btn:hover {
  color: #2da73c;
  box-shadow: -1px 1px 8px 1px #666;
}

.btn.btn-primary {
	background-color: #3bc84c;
  color: #fff;
}

.btn[disabled] {
	cursor: default;
	background-color: #ccc;
	color: #666;
	box-shadow: none;
}

.mwg-column-container {
	width: 100%;
}
.mwg-row {
	width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
	float: left;
}
.mwg-row:before {
	content: ' ';
	display: table;
}
.mwg-column {
	padding: 10px 20px
}
.mwg-column {
	float: left;
}

.div.mwg-column:first-child {
	background: #000;
}

.mwg-column.mgw-50 {
	width: 49%;
}
/* FORM styles */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

form label {
	width: 100%;
	font-size: 0.9rem;
	line-height: 2rem;
}

form input {
	width: 100%;
	padding: 12px 15px;
	font-size: 0.7rem;
	border: 1px solid #292929;
}

form input.error {
	border-bottom: 2px solid red;
}

form span.mwg-input-valid {
	background: url(/assets/check.png) no-repeat;
  position: absolute;
  right: 5px;
  top: 6px;
  width: 25px;
  height: 25px;
}
form .mwg-input-error {
	color: red;
  font-size: 0.7rem;
  position: absolute;
  bottom: -15px;
  left: 0;
}
